<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Rand Xie loves mathematics, programming, writing, speaking, tennis and table-tennis. In his spare time, he plays data challenges, contributes to open
      source and researches on different topics including machine learning, Bayesian statistics, control and estimation theory. 
      He is currently a Software Engineer in Machine Learning at Google Cloud AI. Previously, he was a Data Scientist at <a href="{{ site.uptake_url }}" target="_blank">Uptake</a>, building an internal machine learning framework for industrial time series. 
      Before joining Uptake, he worked as a software engineer at <a href="{{ site.mathworks_url }}" target="_blank">MathWorks</a> and was one of the core developers
      in <a href="{{ site.pm_toolbox_url }}" target="_blank">predictive maintenance toolbox</a>. Before becoming a software engineer and data scientist, Rand 
      was a mechanical engineer and keen on learning everything about manufacturing and aeronautics.
      For more info, check out his
      <a href="{{ site.nav.main.writing }}">writing</a>, 
      <a href="{{ site.nav.main.speaking }}">speaking</a>, and
      <a href="{{ site.nav.main.projects }}">projects</a>.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
