<div class="circle-line-image center mt1">
  <a href="{{ site.url }}">
    {% include image.html path=site.thumbnail_path alt=site.name class="border bg-white border-light-gray circle square-100" %}
  </a>
</div>
<div class="clearfix">
  <div class="sm-col sm-col-7">
    <a href="{{ site.url }} "><h3>{{ site.name }}</h3></a>
    <p class="h5">
      If you need help with building your machine learning system, reach out to me at
      <a href="{{ site.contact_urls.email.url }}" target="_blank"> my email </a>.
    </p>
  </div>
  <div class="sm-col-right">
    <h3>Share this post</h3>
    {% include share-buttons.html %}
  </div>
</div>